<h1>Welcome to Tapedeck</h1>



<p><%=if @current_user.present? then "Welcome #{@current_user.username.capitalize}!" end %></p>

<p>Most recent community tapedecks!</p>

<% @tapedecks.each do |tapedeck| %>
    <ul>
        <li> User <%= link_to tapedeck.user.username, tapedeck %> created the tapedeck: <%= link_to tapedeck.name.titleize, tapedeck %></li>
    </ul>

<% end %>