<div class='row'>
    <div class='col-md-12 text-center'>
        <%= image_tag 'Tapedeck-logos_small_gimp.jpg', :class => 'banner'  %>
        <h1 class='header'>Welcome to Tapedeck</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 pad-40">
        <h3>Welcome!</h3>
        <p>Tapedeck is an exciting new way to share your favourite mix compilations and albums.<br>
        Gone are the days of relying on word of mouth or good reviews to find and enjoy new albums. <br>
        At Tapedeck, our philosophy is that we trust listeners to create and share the very best music has to offer, not some shady algorithm from faceless corporates. <br>
        Our user-driven content allows for a more organic and accurate method for providing recommendations and because every tapedeck is user-specific, you can keep up-to-date with the latest flavours and feelings shared by our mixologists.
        </p>
    </div>

    <div class="col-md-6 pad-40">
        <div class="panel">
            <h5>Most recent community tapedecks:</h5> <br>

            <% @tapedecks.each do |tapedeck| %>
                <ul>
                    <li> User <%= link_to tapedeck.user.username, tapedeck %> created the tapedeck: <%= link_to tapedeck.name.titleize, tapedeck %></li>
                </ul>

            <% end %>
        </div>
    </div>
</div>