<div class=sign-up>
    <div class="col-md-6">

        <h1>Albums Selector</h1>
        <br>
            <% @albums.each do |album| %>
                <ul>
                <%= link_to(album.title, album) %> <%= %>
                </ul>
            <% end %>,
    </div>
</div>

