<div class="row-view">
 <div class="col-md-10">
    <h2>Album:</h2><h1><%= @album.title.titleize %></h1>
        <%= cl_image_tag(@album.image, :class => 'album-img') %>
        <p>Released: <%= @album.released.strftime '%A, %B %e, %Y' unless @album.released.nil? %></li></p>



    </div>
</div>