<div class=sign-up>
    <div class="col-md-6">

        <h1>Albums Selector</h1>
        <h3>Select an album to add to your Tapedeck</h3>
        <br>
            <% @albums.each do |album| %>
                <ul>
                    <%= link_to "Add #{ album.title }", tapedeck_add_album_path(id: @tapedeck.id, album_id: album.id), method: :post %>
                </ul>
            <% end %>
    </div>
</div>