@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #0e0f11;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background: #00ff02;
    min-height: 960px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 100.66px;
}

.album-img {
    max-width: 600px;
    width: 100%;
    border: solid black;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    max-height: 16em;
    text-align: center;
    margin: 0 auto;
    display: block;
}

header {
    font-family: 'Saira', sans-serif;
}

.sign-up {
    margin: 8.5%;
}

.controls {
    padding: 6px;
    display: inline-block;
    border: solid #0e0f11 3px;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    background-color: #333a40;
    box-shadow: 3px 2px 7px 1px black;
    margin-bottom: 40px;
}

#dark-button a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.admin {
    color: #ffab00;
}

.login {
    font-family: 'Saira', sans-serif;
    color: white;
    padding: 20px;
    font-size: large;
    margin: 0 auto;
    margin-right: 65px;
    margin-bottom: 1px;
}

.username {
    color: rgb(255, 14, 224);
}

.form-control {
    width: 50%;
}

.row-view {
    text-align: left;
    margin: 40px 20px 20px 60px;
}

p {
    color: #0e0f11;
}

h1 {
    font-size: 52px;
    color: #0e0f11;
    padding-bottom: 30px;
}

h5 {
    font-size: 1.44rem;
}

.navbar a {
    transition: color 2.5s;
}

.navbar a:hover{
    transition: 0.25s;
    filter: invert(63%) sepia(89%) saturate(0%) hue-rotate(82deg) brightness(1000%) contrast(124%);
  }

.navbar {
    margin-top: 0px;
    align-items: baseline;
    box-shadow: 0px, 4px, 4px, 0px, black;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar a, aside a{
    color: #00ff01;
    padding: 20px;
    text-decoration: none;
}

.col-md-6 {
    display: inline-block;
}

li a {
    color: #b90ba2;
    font-style: italic;
}

li a:hover {
    color: black;
    text-decoration: none;
}

aside {
    min-height: 960px;
    width: 200px;
    display: block;
    padding: 20px;
    padding-top: 30px;
    background-color: #333a40;
    height: 100%;
}

.panel {
    background: #fafafa;
    padding: 30px;
    width: 100%;
    border-radius: 28px;
    box-shadow: 6px, 9px, 6px, 0px, #0e0f11;
}

aside a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.container-profile {
    display: flex;
}

.profile {
    display: inline-block;
    padding: 40px;
}

.thumb {
    max-width: 150px;
    display: inline-block;
    margin-left: 80px;
}

.album-list a {
    margin-left: 80px;
}

.album-list {
    padding-bottom: 60px;
    padding-top: 80px;
}

.list {
    display: inline-block;
    width: 55%;
}

.home-nav {
    max-height: 5.600000000000001em;
    margin: -8px;
    top: 18px;
    zoom: 115%;
}

.image-container {
    position: absolute;
    margin: -10px;
    max-height: 6.6em;
    opacity: 0;
    left: 16px;
    transition: 0.16s;
    transition-property: inherit;
    transition-duration: 0.14s;
    transition-timing-function: cubic-bezier(0.19, 0.57, 0.55, 0.41);
    background: radial-gradient(rgb(51, 58, 64) 68%, transparent 102%);
}

.image-container:hover {
    transition: opacity 0.3s all;
    opacity: 1;
}

.pad-40 {
    padding: 40px;
}
