@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');


body {
    background: #00ff02;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
    max-height: 30em;
}

.sign-up {
    margin: 8.5%;
}

.controls {
    padding: 6px;
}

.login {
    font-family: 'Saira', sans-serif;
    color: white;
    padding: 20px;
    font-size: large;
    margin: 0 auto;
    margin-right: 65px;
    margin-bottom: 1px;
}

.username {
    color: rgb(255 14 224);
}

.form-control {
    width: 50%;
}

.row-view {
    text-align: left;
    margin: 40px 20px 20px 60px;
}

.row-updates {
    margin-top: 100px;
}

.col-md-14 {
    margin-left: 10px;
}

.col-md-19 {
    margin-left: 24px;
}

h1 {
    font-size: 52px;
}

h5 {
    font-size: 1.44rem;
}

.navbar a {
    transition: color 2.5s;
}

.navbar a:hover{
    transition: 0.25s;
    filter: invert(63%) sepia(89%) saturate(0%) hue-rotate(82deg) brightness(1000%) contrast(124%);
  }

.navbar {
    margin-top: 0px;
    border: solid black 2.5px;
    border-radius: 10px;
}

.navbar a, aside a{
    color: #00ff01;
    padding: 20px;
    text-decoration: none;
}

.col-md-6 {
    display: inline-block;
}

li a {
    color: #b90ba2
}

li a:hover {
    color: black;
    text-decoration: none;
}

aside {
    border: solid black;
    /* max-height: 500px; */
    min-height: 600px;
    width: 200px;
    border-radius: 12px;
    display: block;
    padding: 20px;
    padding-top: 30px;
    background-color: #333a40;
}

aside a {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.container-profile {
    display: flex;
}

.profile {
    display: inline-block;
    margin: 0 auto;
    padding: 40px;
}


.home-nav {
    max-height: 5.600000000000001em;
    margin: -8px;
    top: 18px;
    /* image-orientation: unset; */
    zoom: 115%;
}

.image-container {
    position: absolute;
    margin: -10px;
    max-height: 6.6em;
    opacity: 0;
    left: 16px;
    transition: 0.16s;
    transition-property: inherit;
    transition-duration: 0.14s;
    transition-timing-function: cubic-bezier(0.1, 0.34, 0.89, 0.71);
    /* transition-delay: 0.0s; */
    background: radial-gradient(rgb(51 58 64) 68%, transparent 102%);
}

.image-container:hover {
    transition: opacity 0.3s all;
    opacity: 1;
}